# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# VSCode Extension
out/
*.vsix
.vscode-test/

# Editor and OS files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.DS_Store
*.log

# TypeScript
*.tsbuildinfo